# Database (Postgres)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/chaosops

# Better Auth (CHANGE in production!)
BETTER_AUTH_SECRET=iUjDkHNYGPcyf8A1oHc57ud+iz3CXF+Tu4O+SUvpJOc=
BETTER_AUTH_URL=http://localhost:3000

# CORS origins
CORS_ORIGIN=http://localhost:4200

# Node environment
NODE_ENV=development
PORT=3000
